.container
{
     width: 1400px;
     height: 600px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(12, 1fr);
    
     grid-gap: 10px;
     
}
.container div
{
    background-color: palevioletred;
    font-size: 1.5rem;
}
.header
{
   
    grid-column: 1/span 12;
    max-width: 720px;
}
.sidebar
{
    grid-row: 1/span 3;
    grid-column: 2/span 10;
}
.navigation
{
    
    grid-column: 4/span 6;
}
.main
{
    grid-row: 3/span 9;
    grid-column: 4/span 6;
}
.ads
{
    grid-row: 10/span 3;
    grid-column: 2/span 10;
}
.footer
{
    
    grid-column: 12/sapn 12;
}
