.Loader
{
    border: 12px solid #f3f3f3;
    border-top: 12px solid goldenrod;
    /* border-bottom: 12px solid goldenrod;
    border-left: 12px solid goldenrod;
    border-right: 12px solid goldenrod; */
    border-bottom: 12px solid goldenrod;
    border-left: 12px solid goldenrod;
    border-right: 12px solid goldenrod;
    border-radius: 50px;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {

    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(100deg);
    }
    
}